{% extends "yieldpharm1/base.html" %}

{% block content_center_right %}
    <div class="company">
        <div class="title">公司简介</div>
        <hr width="700">
        <div class="company_pic">
            <img src="/static/imgs/aboutus.jpg" alt="">
        </div>
        <p>
            <b>山东云途医药科技有限公司</b>位于山东省济南市，专业从事新药技术开发及转让、医药中间体的研发及生产、新药注册申报。公司现有超过10年工作经验的技术骨干4名，辅以多名研究生及本科专业人才，具有高水平的研发水平，团队成员具备从小试研究、中试、生产放大以及新药注册资料撰写等一系列的工作能力。
        </p>
        <p>
            {% comment %}公司创始人张兰德博士，毕业于南京大学化学化工学院，先后师从胡宏纹院士和姚祝军研究员。博士期间的研究方向是天然产物全合成，并且有十多年工艺优化放大和车间生产经验，尤其对于生产管理有独到的见解...{% endcomment %}
        </p>
    </div>
{% endblock %}

{% comment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ydclass</title>
</head>
<body>
    <table border="1px" cellspacing="0px" cellpadding="0px">
        <tr>
            <td>产品名称</td>
            <td>CAS号</td>
        </tr>
        {% for product in product_list %}
            <tr>
                <td><a href="/yieldpharm1/{{ product.id }}/detail">{{ product.name }}</a></td>
                <td>{{ product.cas_no }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
{% endcomment %}
