{% extends "yieldpharm1/base.html" %}

{% block content_center_right %}
    <div class="contact">
        <div class="title">联系我们</div>
        <hr width="700">
        <div>
            <p><strong>山东云途医药科技有限公司</strong>
                <br>
                <strong>联系人：</strong>石经理
                <br>
                <strong>地址：</strong>山东省济南市高新区
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;天辰路979号
                <br>
                <strong>电话：</strong>0531-58788656
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;18954152635
                <br>
                <strong>微信：</strong>18954152635
                <br>
                <strong>QQ：</strong>1178334932
                <br>
                <strong>邮箱：</strong>1178334932@qq.com
            </p>
        </div>
        <div>
            <img src="/static/imgs/contactus.jpg" alt="">
        </div>
    </div>
{% endblock %}

{% comment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ydclass</title>
</head>
<body>
    <table border="1px" cellspacing="0px" cellpadding="0px">
        <tr>
            <td>产品名称</td>
            <td>CAS号</td>
        </tr>
        {% for product in product_list %}
            <tr>
                <td><a href="/yieldpharm1/{{ product.id }}/detail">{{ product.name }}</a></td>
                <td>{{ product.cas_no }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
{% endcomment %}
