{% extends "yieldpharm1/base.html" %}


{% block content_center_right %}
    <div class="content_center">
        <div class="company">
            <div class="title">公司简介</div>
            <hr width="520">
            <div class="company_pic">
                <img src="/static/imgs/aboutus.jpg" alt="">
            </div>
            <p>
                <b>山东云途医药科技有限公司</b> 位于山东省济南市，专业从事新药技术开发及转让、医药中间体的研发及生产、新药注册申报。公司现有超过10年工作经验的技术骨干4名，辅以多名研究生及本科专业人才，具有高水平的研发水平，团队成员具备从小试研究、中试、生产放大以及新药注册资料撰写等一系列的工作能力。
            </p>
            <p>
                {% comment %}公司创始人张兰德博士，毕业于南京大学化学化工学院，先后师从胡宏纹院士和姚祝军研究员。博士期间的研究方向是天然产物全合成，并且有十多年工艺优化放大和车间生产经验，尤其对于生产管理有独到的见解...{% endcomment %}
            </p>
        </div>
        <div class="recommand">
            <div class="title">优势产品</div>
            <hr width="520">
            <!--图片滚动-->
            <div id="container">
                <div id="pictures">
                    <ul id="ul1">
                        <li>
                            <div class="recpic">
                                <img src="/static/imgs/recommand/wps5C96.tmp.png" alt="">
                            </div>
                            <div class="cas">
                                128-13-2
                            </div>
                        </li>
                        <li>
                            <div class="recpic">
                                <img src="/static/imgs/recommand/wps5CAF.tmp.png" alt="">
                            </div>
                            <div class="cas">
                                14216-22-9
                            </div>
                        </li>
                        <li>
                            <div class="recpic">
                                <img src="/static/imgs/recommand/wps5CB0.tmp.png" alt="">
                            </div>
                            <div class="cas">
                                23323-37-7
                            </div>
                        </li>
                        <li>
                            <div class="recpic">
                                <img src="/static/imgs/recommand/wps5CB1.tmp.png" alt="">
                            </div>
                            <div class="cas">
                                6974-32-9
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!---->
        </div>
    </div>
    <div class="content_right">
        <div class="contact">
            <div class="title">联系我们</div>
            <hr width="200">
            <div>
                <p><strong>山东云途医药科技有限公司</strong>
                    <br>
                    <strong>联系人：</strong>石经理
                    <br>
                    <strong>地址：</strong>山东省济南市高新区
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;天辰路979号
                    <br>
                    <strong>电话：</strong>0531-58788656
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;18954152635
                    <br>
                    <strong>微信：</strong>18954152635
                    <br>
                    <strong>QQ：</strong>1178334932
                    <br>
                    <strong>邮箱：</strong>1178334932@qq.com
                </p>
            </div>
            <div>
                <img src="/static/imgs/contactus.jpg" alt="">
            </div>
        </div>
    </div>
{% endblock %}


{% comment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
    <form action="/yieldpharm1/search/" method="post">
        {% csrf_token %}
        <p>
            <input type="text" id="search_text" name="search_text" placeholder="请输入产品名称或CAS号" autofocus required />
            <input type="submit" value="搜索">
        </p>
    </form>
    <ul>
        {% for category in category_list %}
            <li><a href="/yieldpharm1/{{ category.id }}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>

</body>
</html>
{% endcomment %}
