{% extends "yieldpharm1/base.html" %}


{% block content_center_right %}
    <div class="content_center">
        <div class="company">
            <div class="title">公司简介</div>
            <hr width="520">
            <div class="company_pic">
                <img src="/static/imgs/aboutus.jpg" alt="">
            </div>
            <p>
                <b>苏州弈德医药科技有限公司</b>位于苏州工业园区信一药谷，频临美丽的东沙湖风景区，是一个集化工医药中间体研发、生产、进出口贸易于一体的新型化工企业。公司自2015年11月成立以来，主要从事新药研发中所用Building
                Block，Core Fragment定制合成、定制生产、新药关键中间体合成方法，合成工艺的研究、规模化生产加工，尤其在工艺优化和生产放大方面经验丰富。
            </p>
            <p>
                公司创始人张兰德博士，毕业于南京大学化学化工学院，先后师从胡宏纹院士和姚祝军研究员。博士期间的研究方向是天然产物全合成，并且有十多年工艺优化放大和车间生产经验，尤其对于生产管理有独到的见解...
            </p>
        </div>
        <div class="recommand">
            <div class="title">明星产品</div>
            <hr width="520">
            <!--图片滚动-->
            <div id="container">
                <div id="pictures">
                    <ul id="ul1">
                        <li>
                            <div class="recpic">
                                <img src="/static/imgs/recommand/wps5C96.tmp.png" alt="">
                            </div>
                            <div class="cas">
                                128-13-2
                            </div>
                        </li>
                        <li>
                            <div class="recpic">
                                <img src="/static/imgs/recommand/wps5CAF.tmp.png" alt="">
                            </div>
                            <div class="cas">
                                14216-22-9
                            </div>
                        </li>
                        <li>
                            <div class="recpic">
                                <img src="/static/imgs/recommand/wps5CB0.tmp.png" alt="">
                            </div>
                            <div class="cas">
                                23323-37-7
                            </div>
                        </li>
                        <li>
                            <div class="recpic">
                                <img src="/static/imgs/recommand/wps5CB1.tmp.png" alt="">
                            </div>
                            <div class="cas">
                                6974-32-9
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!---->
        </div>
    </div>
    <div class="content_right">
        <div class="contact">
            <div class="title">联系我们</div>
            <hr width="200">
            <div>
                <p><strong>苏州弈德医药科技有限公司</strong>
                    <br>
                    <strong>联系人：</strong>张兰德
                    <br>
                    <strong>地址：</strong>苏州工业园区长阳街415号
                    <br>
                    信一药谷1号楼4楼东
                    <br>
                    <strong>电话：</strong>13382188332
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;13918017209
                    <br>
                    <strong>微信：</strong>13918017209
                    <br>
                    <strong>QQ：</strong>点击这里给我发消息
                    <br>
                    <strong>邮箱：</strong>zhlande@hotmail.com
                </p>
            </div>
            <div>
                <img src="/static/imgs/contactus.jpg" alt="">
            </div>
        </div>
    </div>
{% endblock %}


{% comment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
    <form action="/yieldpharm1/search/" method="post">
        {% csrf_token %}
        <p>
            <input type="text" id="search_text" name="search_text" placeholder="请输入产品名称或CAS号" autofocus required />
            <input type="submit" value="搜索">
        </p>
    </form>
    <ul>
        {% for category in category_list %}
            <li><a href="/yieldpharm1/{{ category.id }}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>

</body>
</html>
{% endcomment %}
