{% extends "yieldpharm1/en/base.html" %}

{% block content_center_right %}
    <div class="company">
        <div class="title">公司简介</div>
        <hr width="700">
        <div class="company_pic">
            <img src="/static/imgs/aboutus.jpg" alt="">
        </div>
        <p>
            <b>Yuntu Pharmaceutical Technology(Shandong) Co., Ltd.</b>iis located in Jinan City, Shandong Province, specializing in the development and transfer of new drug technologies, research and development and production of pharmaceutical intermediates, and registration of new drugs. The company has 4 technical backbones with more than 10 years of work experience, supplemented by several graduate and undergraduate professionals, with a high level of research and development, team members have a small test, pilot test, production amplification and new drug registration data writing The working ability of the series.
        </p>
        <p>
            {% comment %}The company possesses an independent R&D team led by Dr. ZHANG who is good at technological design, the study of scale-up and production experience. We also build a long-term cooperation with Nanjing University, China Pharmaceutical University, Suzhou University.
Our core business and competency has been built around its unique chemistry skills and experience in custom synthesis. By using Building Block，Core Fragment, Yield has earned a reputation for completing even the most challenging synthesis.
We set up cooperative production workshop in shandong, jiangsu, fujian, hebei, Jiangxi and ect.
Our reactor is from 5L to 5000L, which can according to customer requirements to product fine chemical from grams to tons.{% endcomment %}
We always offer Competitive Price, High Quality and Best Services to our customers.
        </p>
    </div>
{% endblock %}

{% comment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ydclass</title>
</head>
<body>
    <table border="1px" cellspacing="0px" cellpadding="0px">
        <tr>
            <td>产品名称</td>
            <td>CAS号</td>
        </tr>
        {% for product in product_list %}
            <tr>
                <td><a href="/yieldpharm1/{{ product.id }}/detail">{{ product.name }}</a></td>
                <td>{{ product.cas_no }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
{% endcomment %}
