{% extends "yieldpharm1/en/base.html" %}


{% block content_center_right %}
    <div class="content_center">
        <div class="company">
            <div class="title">About Us</div>
            <hr width="520">
            <div class="company_pic">
                <img src="/static/imgs/aboutus.jpg" alt="">
            </div>
            <p>
                <b>Yield Pharmaceutical Techonlogy (Suzhou) Co.,Ltd. </b>is located in XinYi pharma Valley. Which is a high-tech enterprise specializing in researching, developing, importing and exporting chemicals and pharmaceutical intermediates.
            </p>
            <p>
                The company possesses an independent R&D team led by Dr. ZHANG who is good at technological design, the study of scale-up and production experience. We also build a long-term cooperation with Nanjing University, China Pharmaceutical University, Suzhou University...
            </p>
        </div>
        <div class="recommand">
            <div class="title"> Advantage Products</div>
            <hr width="520">
            <!--图片滚动-->
            <div id="container">
                <div id="pictures">
                    <ul id="ul1">
                        <li>
                            <div class="recpic">
                                <img src="/static/imgs/recommand/wps5C96.tmp.png" alt="">
                            </div>
                            <div class="cas">
                                128-13-2
                            </div>
                        </li>
                        <li>
                            <div class="recpic">
                                <img src="/static/imgs/recommand/wps5CAF.tmp.png" alt="">
                            </div>
                            <div class="cas">
                                14216-22-9
                            </div>
                        </li>
                        <li>
                            <div class="recpic">
                                <img src="/static/imgs/recommand/wps5CB0.tmp.png" alt="">
                            </div>
                            <div class="cas">
                                23323-37-7
                            </div>
                        </li>
                        <li>
                            <div class="recpic">
                                <img src="/static/imgs/recommand/wps5CB1.tmp.png" alt="">
                            </div>
                            <div class="cas">
                                6974-32-9
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!---->
        </div>
    </div>
    <div class="content_right">
        <div class="contact">
            <div class="title">Contact Us</div>
            <hr width="200">
            <div>
                <p><strong>Yidld Pharmaceutical Technology(Suzhou) CO.,Ltd.</strong>
                    <br>
                    <strong>Contact：</strong>Mr Zhang
                    <br>
                    <strong>Add：</strong>Floor 4, Building 1, Xinyi pharma Valley, NO.415,Changyang Street, Suzhou Industrail Park.
                    <br>
                    信一药谷1号楼4楼东
                    <br>
                    <strong>Tel：</strong>13382188332
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;13918017209
                    <br>
                    <strong>Weixin：</strong>13918017209
                    <br>
                    <strong>QQ：</strong>点击这里给我发消息
                    <br>
                    <strong>E-mail：</strong>zhlande@hotmail.com
                </p>
            </div>
            <div>
                <img src="/static/imgs/contactus.jpg" alt="">
            </div>
        </div>
    </div>
{% endblock %}


{% comment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
    <form action="/yieldpharm1/search/" method="post">
        {% csrf_token %}
        <p>
            <input type="text" id="search_text" name="search_text" placeholder="请输入产品名称或CAS号" autofocus required />
            <input type="submit" value="搜索">
        </p>
    </form>
    <ul>
        {% for category in category_list %}
            <li><a href="/yieldpharm1/{{ category.id }}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>

</body>
</html>
{% endcomment %}
