{% extends "yieldpharm1/base.html" %}

{% block content_center_right %}
    <div class="company">
        <div class="title">产品介绍</div>
        <hr width="700">
        <table border="1px" cellspacing="0px" cellpadding="0px" width="700px"  >
            <tr>
                <th>产品名称</th>
                <th>CAS号</th>
            </tr>
            {% for product in product_list %}
                <tr>
                    <th><a href="/yieldpharm1/{{ product.id }}/detail">{{ product.name }}</a></th>
                    <th>{{ product.cas_no }}</th>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% comment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ydclass</title>
</head>
<body>
    <table border="1px" cellspacing="0px" cellpadding="0px">
        <tr>
            <td>产品名称</td>
            <td>CAS号</td>
        </tr>
        {% for product in product_list %}
            <tr>
                <td><a href="/yieldpharm1/{{ product.id }}/detail">{{ product.name }}</a></td>
                <td>{{ product.cas_no }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
{% endcomment %}
